body {
  background: #131b21;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  color: white;
  text-align: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}

svg#flower-frame {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto;
}
